html {
    font-size: 63%;
}
    
    body {
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
}

h1 {
    font-size: 10vw;
    display: block;
    text-align: center;
    font-weight: lighter;
    line-height: 1;

    position: fixed;
    bottom: 0;
    width: 100%;
}

p {
    display: block;
    margin-bottom: 1em;
}

a {
    color: #008aff;
    position: relative;
}

em {
    color: #ff7700;
    font-size: 1.8rem;
}

/* Layout ****************************** */
main {
    margin: 30px;
    margin: 10vh 10vw;
    max-width: 600px;
}
.social {
    margin-right: 0.6em;
}

